In [ ]:
import pathlib
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [ ]:
work_path = pathlib.Path.cwd()

data_path = Path(work_path, 'application_train.csv')
data = pd.read_csv(data_path)

data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df = data.copy(deep = True)

In [ ]:
data=df.copy(deep = True)

In [ ]:
data.shape

(307511, 122)

**Removing variables with high number of missing values**

In [ ]:
cat_features = ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE',
                'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
                'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE',
                'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']
num_features = [item for item in data.columns if item not in cat_features]

In [ ]:
features_to_drop = ['OWN_CAR_AGE', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'FLOORSMIN_AVG', 'LIVINGAPARTMENTS_AVG',
                    'NONLIVINGAPARTMENTS_AVG', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'FLOORSMIN_MODE',
                    'LIVINGAPARTMENTS_MODE', 'NONLIVINGAPARTMENTS_MODE', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI',
                    'FLOORSMIN_MEDI', 'LIVINGAPARTMENTS_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'FONDKAPREMONT_MODE']
final_features = [item for item in data.columns if item not in features_to_drop]

In [ ]:
data = data[final_features]

In [ ]:
data.shape

(307511, 105)

**Filling missing values with median**

In [ ]:
cat_features = ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE',
                'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
                'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE',
                'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']
num_features = [item for item in data.columns if item not in cat_features]

In [ ]:
num_features
#['SK_ID_CURR', 'TARGET', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE',
 'FLAG_PHONE', 'FLAG_EMAIL', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG',
 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'LANDAREA_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'LANDAREA_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'LANDAREA_MEDI',
 'LIVINGAREA_MEDI', 'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14','FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']

['SK_ID_CURR',
 'TARGET',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'LANDAREA_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'LANDAREA_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAREA_MEDI',
 'TOTALAREA_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [ ]:
data_median = data
#data_median = data_median.fillna(data.median())
data_median = data_median.apply(lambda x: x.fillna(x.value_counts().index[0]))

In [ ]:
def df_info(df: pd.DataFrame):
    t = []
    for col in df.columns:
        k_unique = df[col].nunique()
        k_nan = df[col].isna().sum()
        k_zeros = (df[col] == 0).sum()
        d_type = df[col].dtype

        t.append([col, k_unique, k_nan, k_zeros, d_type])

    col_info = pd.DataFrame(t, columns=['columns', 'unique', 'NaN', 'zeros', 'd_type'])
    return col_info

info = df_info(data_median)
info

                        columns  unique  NaN   zeros   d_type
0                    SK_ID_CURR  307511    0       0    int64
1                        TARGET       2    0  282686    int64
2            NAME_CONTRACT_TYPE       2    0       0   object
3                   CODE_GENDER       3    0       0   object
4                  FLAG_OWN_CAR       2    0       0   object
..                          ...     ...  ...     ...      ...
100   AMT_REQ_CREDIT_BUREAU_DAY       9    0  306022  float64
101  AMT_REQ_CREDIT_BUREAU_WEEK       9    0  298975  float64
102   AMT_REQ_CREDIT_BUREAU_MON      24    0  263752  float64
103   AMT_REQ_CREDIT_BUREAU_QRT      11    0  256936  float64
104  AMT_REQ_CREDIT_BUREAU_YEAR      25    0  113320  float64

[105 rows x 5 columns]

**Undersampling**

In [ ]:
data_median = data_median.sample(frac=1, random_state=42)
data_median

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
205104,337758,0,Cash loans,F,N,Y,0,90000.0,454500.0,21996.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,5.0
60218,169825,0,Cash loans,F,N,Y,0,180000.0,486000.0,38529.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
149654,273504,1,Cash loans,M,Y,Y,0,238500.0,1078200.0,34911.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
177539,305740,0,Cash loans,M,Y,Y,2,202500.0,412542.0,48960.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
133587,254936,0,Cash loans,M,N,N,0,189000.0,508495.5,24462.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279319,423561,0,Cash loans,M,N,N,0,202500.0,307944.0,30586.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
79826,192540,0,Cash loans,M,Y,N,0,247500.0,868797.0,35514.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
167430,294092,0,Cash loans,M,Y,Y,0,157500.0,539100.0,27522.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
39666,145923,1,Cash loans,F,N,Y,1,108000.0,900297.0,32026.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
245477,384089,0,Cash loans,F,N,Y,0,90000.0,269550.0,11871.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
data_median.drop(data_median[data_median['AMT_INCOME_TOTAL'] >= 1500000].index, inplace = True)
data_median

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
205104,337758,0,Cash loans,F,N,Y,0,90000.0,454500.0,21996.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,5.0
60218,169825,0,Cash loans,F,N,Y,0,180000.0,486000.0,38529.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
149654,273504,1,Cash loans,M,Y,Y,0,238500.0,1078200.0,34911.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
177539,305740,0,Cash loans,M,Y,Y,2,202500.0,412542.0,48960.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
133587,254936,0,Cash loans,M,N,N,0,189000.0,508495.5,24462.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279319,423561,0,Cash loans,M,N,N,0,202500.0,307944.0,30586.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
79826,192540,0,Cash loans,M,Y,N,0,247500.0,868797.0,35514.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
167430,294092,0,Cash loans,M,Y,Y,0,157500.0,539100.0,27522.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
39666,145923,1,Cash loans,F,N,Y,1,108000.0,900297.0,32026.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
245477,384089,0,Cash loans,F,N,Y,0,90000.0,269550.0,11871.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
fraud_df = data_median.loc[data_median['TARGET'] == 1]
non_fraud_df = data_median.loc[data_median['TARGET'] == 0][:82720]

normal_distributed_df = pd.concat([fraud_df, non_fraud_df])

# Shuffle dataframe rows
new_df = normal_distributed_df.sample(frac=1, random_state=42)

new_df.shape

(107540, 105)

In [ ]:
new_df['TARGET'].mean()

0.23079784266319509

**Ordinal Encoding of EDUCATION_TYPE**

In [ ]:
#['Secondary / secondary special' 'Higher education' 'Incomplete higher' 'Lower secondary' 'Academic degree']
scale_mapper = {'Lower secondary':1, 'Secondary / secondary special':2, 'Incomplete higher':3, 'Higher education':4, 'Academic degree':5}
new_df['EDUCATION_SCORE'] = new_df['NAME_EDUCATION_TYPE'].replace(scale_mapper)

In [ ]:
new_df = new_df.drop('NAME_EDUCATION_TYPE', axis=1)
new_df.columns.tolist()

['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'LANDAREA_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'LANDAREA_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAREA_MEDI',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR',
 'EDUCATION_SCORE']

**OneHot Encoding**

In [ ]:
cat_features = ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE',
                'NAME_INCOME_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
                'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE',
                'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']
num_features = [item for item in new_df.columns if item not in cat_features]

In [ ]:
uniq_val_df = pd.DataFrame(columns=['Column_name','Unique_vales', 'Name'])
for col in cat_features:
  num_val = new_df[col].nunique()
  name_val = new_df[col].unique()
  uniq_val_df = uniq_val_df._append({
                "Column_name" :col ,
                "Unique_vales" : num_val,
                "Name" : name_val,
                },ignore_index=True)
uniq_val_df

,Column_name,Unique_vales,Name
0,NAME_CONTRACT_TYPE,2,"[Cash loans, Revolving loans]"
1,CODE_GENDER,2,"[M, F]"
2,FLAG_OWN_CAR,2,"[Y, N]"
3,FLAG_OWN_REALTY,2,"[Y, N]"
4,NAME_TYPE_SUITE,7,"[Unaccompanied, Family, Spouse, partner, Other..."
5,NAME_INCOME_TYPE,8,"[Commercial associate, Working, Pensioner, Sta..."
6,NAME_FAMILY_STATUS,5,"[Separated, Married, Single / not married, Civ..."
7,NAME_HOUSING_TYPE,6,"[House / apartment, Municipal apartment, With ..."
8,OCCUPATION_TYPE,18,"[Drivers, Sales staff, Managers, Laborers, Cle..."
9,WEEKDAY_APPR_PROCESS_START,7,"[MONDAY, FRIDAY, SATURDAY, TUESDAY, WEDNESDAY,..."
10,ORGANIZATION_TYPE,58,"[Business Entity Type 3, Transport: type 3, Se..."
11,HOUSETYPE_MODE,3,"[block of flats, terraced house, specific hous..."
12,WALLSMATERIAL_MODE,7,"[Panel, Stone, brick, Monolithic, Block, Mixed..."
13,EMERGENCYSTATE_MODE,2,"[No, Yes]"

In [ ]:
data_one_hot = pd.get_dummies(new_df, columns=['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'NAME_TYPE_SUITE',
                'NAME_INCOME_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
                'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE',
                'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'], )

In [ ]:
data_one_hot = pd.get_dummies(data_one_hot, columns=['FLAG_OWN_CAR', 'FLAG_OWN_REALTY'], drop_first=True)

In [ ]:
data_one_hot.shape

(107540, 218)

In [ ]:
data_one_hot.columns.tolist()

['SK_ID_CURR',
 'TARGET',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'LANDAREA_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'LANDAREA_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAREA_MEDI',
 'TOTALAREA_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR',
 'EDUCATION_SCORE',
 'NAME_CONTRACT_TYPE_Cash loans',
 'NAME_CONTRACT_TYPE_Revolving loans',
 'CODE_GENDER_F',
 'CODE_GENDER_M',
 'NAME_TYPE_SUITE_Children',
 'NAME_TYPE_SUITE_Family',
 'NAME_TYPE_SUITE_Group of people',
 'NAME_TYPE_SUITE_Other_A',
 'NAME_TYPE_SUITE_Other_B',
 'NAME_TYPE_SUITE_Spouse, partner',
 'NAME_TYPE_SUITE_Unaccompanied',
 'NAME_INCOME_TYPE_Businessman',
 'NAME_INCOME_TYPE_Commercial associate',
 'NAME_INCOME_TYPE_Maternity leave',
 'NAME_INCOME_TYPE_Pensioner',
 'NAME_INCOME_TYPE_State servant',
 'NAME_INCOME_TYPE_Student',
 'NAME_INCOME_TYPE_Unemployed',
 'NAME_INCOME_TYPE_Working',
 'NAME_FAMILY_STATUS_Civil marriage',
 'NAME_FAMILY_STATUS_Married',
 'NAME_FAMILY_STATUS_Separated',
 'NAME_FAMILY_STATUS_Single / not married',
 'NAME_FAMILY_STATUS_Widow',
 'NAME_HOUSING_TYPE_Co-op apartment',
 'NAME_HOUSING_TYPE_House / apartment',
 'NAME_HOUSING_TYPE_Municipal apartment',
 'NAME_HOUSING_TYPE_Office apartment',
 'NAME_HOUSING_TYPE_Rented apartment',
 'NAME_HOUSING_TYPE_With parents',
 'OCCUPATION_TYPE_Accountants',
 'OCCUPATION_TYPE_Cleaning staff',
 'OCCUPATION_TYPE_Cooking staff',
 'OCCUPATION_TYPE_Core staff',
 'OCCUPATION_TYPE_Drivers',
 'OCCUPATION_TYPE_HR staff',
 'OCCUPATION_TYPE_High skill tech staff',
 'OCCUPATION_TYPE_IT staff',
 'OCCUPATION_TYPE_Laborers',
 'OCCUPATION_TYPE_Low-skill Laborers',
 'OCCUPATION_TYPE_Managers',
 'OCCUPATION_TYPE_Medicine staff',
 'OCCUPATION_TYPE_Private service staff',
 'OCCUPATION_TYPE_Realty agents',
 'OCCUPATION_TYPE_Sales staff',
 'OCCUPATION_TYPE_Secretaries',
 'OCCUPATION_TYPE_Security staff',
 'OCCUPATION_TYPE_Waiters/barmen staff',
 'WEEKDAY_APPR_PROCESS_START_FRIDAY',
 'WEEKDAY_APPR_PROCESS_START_MONDAY',
 'WEEKDAY_APPR_PROCESS_START_SATURDAY',
 'WEEKDAY_APPR_PROCESS_START_SUNDAY',
 'WEEKDAY_APPR_PROCESS_START_THURSDAY',
 'WEEKDAY_APPR_PROCESS_START_TUESDAY',
 'WEEKDAY_APPR_PROCESS_START_WEDNESDAY',
 'ORGANIZATION_TYPE_Advertising',
 'ORGANIZATION_TYPE_Agriculture',
 'ORGANIZATION_TYPE_Bank',
 'ORGANIZATION_TYPE_Business Entity Type 1',
 'ORGANIZATION_TYPE_Business Entity Type 2',
 'ORGANIZATION_TYPE_Business Entity Type 3',
 'ORGANIZATION_TYPE_Cleaning',
 'ORGANIZATION_TYPE_Construction',
 'ORGANIZATION_TYPE_Culture',
 'ORGANIZATION_TYPE_Electricity',
 'ORGANIZATION_TYPE_Emergency',
 'ORGANIZATION_TYPE_Government',
 'ORGANIZATION_TYPE_Hotel',
 'ORGANIZATION_TYPE_Housing',
 'ORGANIZATION_TYPE_Industry: type 1',
 'ORGANIZATION_TYPE_Industry: type 10',
 'ORGANIZATION_TYPE_Industry: type 11',
 'ORGANIZATION_TYPE_Industry: type 12',
 'ORGANIZATION_TYPE_Industry: type 13',
 'ORGANIZATION_TYPE_Industry: type 2',
 'ORGANIZATION_TYPE_Industry: type 3',
 'ORGANIZATION_TYPE_Industry: type 4',
 'ORGANIZATION_TYPE_Industry: type 5',
 'ORGANIZATION_TYPE_Industry: type 6',
 'ORGANIZATION_TYPE_Industry: type 7',
 'ORGANIZATION_TYPE_Industry: type 8',
 'ORGANIZATION_TYPE_Industry: type 9',
 'ORGANIZATION_TYPE_Insurance',
 'ORGANIZATION_TYPE_Kindergarten',
 'ORGANIZATION_TYPE_Legal Services',
 'ORGANIZATION_TYPE_Medicine',
 'ORGANIZATION_TYPE_Military',
 'ORGANIZATION_TYPE_Mobile',
 'ORGANIZATION_TYPE_Other',
 'ORGANIZATION_TYPE_Police',
 'ORGANIZATION_TYPE_Postal',
 'ORGANIZATION_TYPE_Realtor',
 'ORGANIZATION_TYPE_Religion',
 'ORGANIZATION_TYPE_Restaurant',
 'ORGANIZATION_TYPE_School',
 'ORGANIZATION_TYPE_Security',
 'ORGANIZATION_TYPE_Security Ministries',
 'ORGANIZATION_TYPE_Self-employed',
 'ORGANIZATION_TYPE_Services',
 'ORGANIZATION_TYPE_Telecom',
 'ORGANIZATION_TYPE_Trade: type 1',
 'ORGANIZATION_TYPE_Trade: type 2',
 'ORGANIZATION_TYPE_Trade: type 3',
 'ORGANIZATION_TYPE_Trade: type 4',
 'ORGANIZATION_TYPE_Trade: type 5',
 'ORGANIZATION_TYPE_Trade: type 6',
 'ORGANIZATION_TYPE_Trade: type 7',
 'ORGANIZATION_TYPE_Transport: type 1',
 'ORGANIZATION_TYPE_Transport: type 2',
 'ORGANIZATION_TYPE_Transport: type 3',
 'ORGANIZATION_TYPE_Transport: type 4',
 'ORGANIZATION_TYPE_University',
 'ORGANIZATION_TYPE_XNA',
 'HOUSETYPE_MODE_block of flats',
 'HOUSETYPE_MODE_specific housing',
 'HOUSETYPE_MODE_terraced house',
 'WALLSMATERIAL_MODE_Block',
 'WALLSMATERIAL_MODE_Mixed',
 'WALLSMATERIAL_MODE_Monolithic',
 'WALLSMATERIAL_MODE_Others',
 'WALLSMATERIAL_MODE_Panel',
 'WALLSMATERIAL_MODE_Stone, brick',
 'WALLSMATERIAL_MODE_Wooden',
 'EMERGENCYSTATE_MODE_No',
 'EMERGENCYSTATE_MODE_Yes',
 'FLAG_OWN_CAR_Y',
 'FLAG_OWN_REALTY_Y']

In [ ]:
data_one_hot = data_one_hot*1
data_one_hot

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_Y
178663,307042,0,1,157500.0,418500.0,44536.5,418500.0,0.035792,-13275,-669,...,0,0,0,1,0,0,1,0,1,1
164723,290940,0,0,126000.0,760225.5,32337.0,679500.0,0.007305,-17309,-1540,...,0,0,0,1,0,0,1,0,1,0
2917,103400,0,0,112500.0,450000.0,20979.0,450000.0,0.018801,-17329,-946,...,0,0,0,0,1,0,1,0,0,1
265531,407541,0,1,225000.0,540000.0,27000.0,540000.0,0.024610,-15806,-3535,...,0,1,0,0,0,0,1,0,1,1
126697,246937,1,1,67500.0,180000.0,9000.0,180000.0,0.019689,-15030,-602,...,0,0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111772,229669,0,0,495000.0,1350000.0,90715.5,1350000.0,0.026392,-20464,365243,...,0,0,0,1,0,0,1,0,0,1
226215,362011,0,0,135000.0,670500.0,26109.0,670500.0,0.028663,-15023,-2458,...,0,0,0,1,0,0,1,0,1,0
269117,411876,0,0,202500.0,755190.0,36459.0,675000.0,0.003541,-10037,-395,...,0,0,0,1,0,0,1,0,0,0
220883,355881,1,0,135000.0,852088.5,43636.5,688500.0,0.016612,-9957,-757,...,0,0,0,0,1,0,1,0,1,1
277365,421402,1,1,135000.0,135000.0,9823.5,135000.0,0.028663,-14250,-4327,...,0,0,0,1,0,0,1,0,0,1

**Frequency Encoder**

In [ ]:
test_data_f = new_df['TARGET']
test_features_f = ['TARGET']
train_features_f = [item for item in new_df.columns if item not in test_features_f]
train_data_f = new_df[train_features_f]

In [ ]:
from sklearn.model_selection import train_test_split

X_train_f, X_test_f, y_train_f, y_test_f = train_test_split(
    train_data_f, test_data_f, random_state=29
)

In [ ]:
x_freq_train = X_train_f
x_freq_train['TARGET'] = y_train_f
x_freq_train.shape

(80655, 105)

In [ ]:
x_freq_test = X_test_f
x_freq_test['TARGET'] = y_test_f
x_freq_test.shape

(26885, 105)

In [ ]:
freq_enc_tr = (x_freq_train.groupby('NAME_CONTRACT_TYPE').size()) / len(x_freq_train)
freq_enc_tr

NAME_CONTRACT_TYPE
Cash loans         0.91052
Revolving loans    0.08948
dtype: float64

In [ ]:
data_freq_tr = x_freq_train
data2 = x_freq_train

In [ ]:
data_freq_tr['NAME_CONTRACT_TYPE'] = x_freq_train['NAME_CONTRACT_TYPE'].apply(lambda x : freq_enc_tr[x])

freq_enc1_tr = (x_freq_train.groupby('CODE_GENDER').size()) / len(x_freq_train)
data_freq_tr['CODE_GENDER'] = x_freq_train['CODE_GENDER'].apply(lambda x : freq_enc1_tr[x])

freq_enc2_tr = (x_freq_train.groupby('NAME_TYPE_SUITE').size()) / len(x_freq_train)
data_freq_tr['NAME_TYPE_SUITE'] = x_freq_train['NAME_TYPE_SUITE'].apply(lambda x : freq_enc2_tr[x])

freq_enc3_tr = (x_freq_train.groupby('NAME_INCOME_TYPE').size()) / len(x_freq_train)
data_freq_tr['NAME_INCOME_TYPE'] = x_freq_train['NAME_INCOME_TYPE'].apply(lambda x : freq_enc3_tr[x])

freq_enc5_tr = (x_freq_train.groupby('NAME_FAMILY_STATUS').size()) / len(x_freq_train)
data_freq_tr['NAME_FAMILY_STATUS'] = x_freq_train['NAME_FAMILY_STATUS'].apply(lambda x : freq_enc5_tr[x])

freq_enc6_tr = (x_freq_train.groupby('NAME_HOUSING_TYPE').size()) / len(x_freq_train)
data_freq_tr['NAME_HOUSING_TYPE'] = x_freq_train['NAME_HOUSING_TYPE'].apply(lambda x : freq_enc6_tr[x])

freq_enc7_tr = (x_freq_train.groupby('OCCUPATION_TYPE').size()) / len(x_freq_train)
data_freq_tr['OCCUPATION_TYPE'] = x_freq_train['OCCUPATION_TYPE'].apply(lambda x : freq_enc7_tr[x])

freq_enc8_tr = (x_freq_train.groupby('WEEKDAY_APPR_PROCESS_START').size()) / len(x_freq_train)
data_freq_tr['WEEKDAY_APPR_PROCESS_START'] = x_freq_train['WEEKDAY_APPR_PROCESS_START'].apply(lambda x : freq_enc8_tr[x])

freq_enc9_tr = (x_freq_train.groupby('ORGANIZATION_TYPE').size()) / len(x_freq_train)
data_freq_tr['ORGANIZATION_TYPE'] = x_freq_train['ORGANIZATION_TYPE'].apply(lambda x : freq_enc9_tr[x])

freq_enc10_tr = (x_freq_train.groupby('HOUSETYPE_MODE').size()) / len(x_freq_train)
data_freq_tr['HOUSETYPE_MODE'] = x_freq_train['HOUSETYPE_MODE'].apply(lambda x : freq_enc10_tr[x])

freq_enc11_tr = (x_freq_train.groupby('WALLSMATERIAL_MODE').size()) / len(x_freq_train)
data_freq_tr['WALLSMATERIAL_MODE'] = x_freq_train['WALLSMATERIAL_MODE'].apply(lambda x : freq_enc11_tr[x])

freq_enc12_tr = (x_freq_train.groupby('EMERGENCYSTATE_MODE').size()) / len(x_freq_train)
data_freq_tr['EMERGENCYSTATE_MODE'] = x_freq_train['EMERGENCYSTATE_MODE'].apply(lambda x : freq_enc12_tr[x])

In [ ]:
freq_enc13_tr = (x_freq_train.groupby('FLAG_OWN_CAR').size()) / len(x_freq_train)
data_freq_tr['FLAG_OWN_CAR'] = x_freq_train['FLAG_OWN_CAR'].apply(lambda x : freq_enc13_tr[x])

freq_enc14_tr = (x_freq_train.groupby('FLAG_OWN_REALTY').size()) / len(x_freq_train)
data_freq_tr['FLAG_OWN_REALTY'] = x_freq_train['FLAG_OWN_REALTY'].apply(lambda x : freq_enc14_tr[x])

In [ ]:
data_freq_tr

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,EDUCATION_SCORE,TARGET
4184,104894,0.08948,0.357002,0.335739,0.693113,1,315000.0,450000.0,22500.0,450000.0,...,0,0,0.0,0.0,0.0,0.0,1.0,0.0,4,0
217464,351971,0.91052,0.642998,0.664261,0.693113,0,81000.0,99000.0,9774.0,99000.0,...,0,0,0.0,0.0,0.0,2.0,0.0,1.0,2,0
300345,447954,0.91052,0.642998,0.664261,0.693113,0,157500.0,218016.0,17352.0,180000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,2,0
194386,325403,0.91052,0.642998,0.335739,0.306887,2,225000.0,900000.0,26316.0,900000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,4,0
82729,195949,0.91052,0.642998,0.335739,0.306887,3,81000.0,450000.0,30073.5,450000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286979,432393,0.91052,0.642998,0.664261,0.693113,0,135000.0,536917.5,19413.0,463500.0,...,0,0,0.0,0.0,0.0,2.0,2.0,3.0,2,0
290193,436190,0.91052,0.642998,0.664261,0.693113,1,135000.0,450000.0,35554.5,450000.0,...,0,0,0.0,0.0,1.0,0.0,0.0,0.0,4,0
99173,215144,0.91052,0.357002,0.335739,0.693113,0,270000.0,835380.0,40320.0,675000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,4,0
254183,394129,0.91052,0.642998,0.664261,0.306887,0,157500.0,171000.0,6574.5,171000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,2,0
120877,240153,0.91052,0.357002,0.335739,0.693113,1,337500.0,765000.0,22495.5,765000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,3.0,2,0

In [ ]:
data_freq_tr.to_csv('data_freq_undersampling_train.csv', index=False)

In [ ]:
data_freq_t = x_freq_test
data3 = x_freq_test

In [ ]:
freq_enc_t = (x_freq_test.groupby('NAME_CONTRACT_TYPE').size()) / len(x_freq_test)
data_freq_t['NAME_CONTRACT_TYPE'] = x_freq_test['NAME_CONTRACT_TYPE'].apply(lambda x : freq_enc_t[x])

freq_enc1_t = (x_freq_test.groupby('CODE_GENDER').size()) / len(x_freq_test)
data_freq_t['CODE_GENDER'] = x_freq_test['CODE_GENDER'].apply(lambda x : freq_enc1_t[x])

freq_enc2_t = (x_freq_test.groupby('NAME_TYPE_SUITE').size()) / len(x_freq_test)
data_freq_t['NAME_TYPE_SUITE'] = x_freq_test['NAME_TYPE_SUITE'].apply(lambda x : freq_enc2_t[x])

freq_enc3_t = (x_freq_test.groupby('NAME_INCOME_TYPE').size()) / len(x_freq_test)
data_freq_t['NAME_INCOME_TYPE'] = x_freq_test['NAME_INCOME_TYPE'].apply(lambda x : freq_enc3_t[x])

freq_enc5_t = (x_freq_test.groupby('NAME_FAMILY_STATUS').size()) / len(x_freq_test)
data_freq_t['NAME_FAMILY_STATUS'] = x_freq_test['NAME_FAMILY_STATUS'].apply(lambda x : freq_enc5_t[x])

freq_enc6_t = (x_freq_test.groupby('NAME_HOUSING_TYPE').size()) / len(x_freq_test)
data_freq_t['NAME_HOUSING_TYPE'] = x_freq_test['NAME_HOUSING_TYPE'].apply(lambda x : freq_enc6_t[x])

freq_enc7_t = (x_freq_test.groupby('OCCUPATION_TYPE').size()) / len(x_freq_test)
data_freq_t['OCCUPATION_TYPE'] = x_freq_test['OCCUPATION_TYPE'].apply(lambda x : freq_enc7_t[x])

freq_enc8_t = (x_freq_test.groupby('WEEKDAY_APPR_PROCESS_START').size()) / len(x_freq_test)
data_freq_t['WEEKDAY_APPR_PROCESS_START'] = x_freq_test['WEEKDAY_APPR_PROCESS_START'].apply(lambda x : freq_enc8_t[x])

freq_enc9_t = (x_freq_test.groupby('ORGANIZATION_TYPE').size()) / len(x_freq_test)
data_freq_t['ORGANIZATION_TYPE'] = x_freq_test['ORGANIZATION_TYPE'].apply(lambda x : freq_enc9_t[x])

freq_enc10_t = (x_freq_test.groupby('HOUSETYPE_MODE').size()) / len(x_freq_test)
data_freq_t['HOUSETYPE_MODE'] = x_freq_test['HOUSETYPE_MODE'].apply(lambda x : freq_enc10_t[x])

freq_enc11_t = (x_freq_test.groupby('WALLSMATERIAL_MODE').size()) / len(x_freq_test)
data_freq_t['WALLSMATERIAL_MODE'] = x_freq_test['WALLSMATERIAL_MODE'].apply(lambda x : freq_enc11_t[x])

freq_enc12_t = (x_freq_test.groupby('EMERGENCYSTATE_MODE').size()) / len(x_freq_test)
data_freq_t['EMERGENCYSTATE_MODE'] = x_freq_test['EMERGENCYSTATE_MODE'].apply(lambda x : freq_enc12_t[x])

freq_enc13_t = (x_freq_test.groupby('FLAG_OWN_CAR').size()) / len(x_freq_test)
data_freq_t['FLAG_OWN_CAR'] = x_freq_test['FLAG_OWN_CAR'].apply(lambda x : freq_enc13_t[x])

freq_enc14_t = (x_freq_test.groupby('FLAG_OWN_REALTY').size()) / len(x_freq_test)
data_freq_t['FLAG_OWN_REALTY'] = x_freq_test['FLAG_OWN_REALTY'].apply(lambda x : freq_enc14_t[x])

In [ ]:
data_freq_t

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,EDUCATION_SCORE,TARGET
130274,251103,0.909689,0.357858,0.334015,0.696745,0,180000.0,1066320.0,38430.0,900000.0,...,0,0,0.0,0.0,0.0,1.0,0.0,4.0,2,0
162906,288856,0.909689,0.357858,0.334015,0.696745,0,112500.0,113760.0,7533.0,90000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,4,0
233696,370690,0.909689,0.357858,0.334015,0.696745,2,157500.0,1035072.0,36801.0,864000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2,1
55554,164375,0.909689,0.357858,0.665985,0.303255,1,450000.0,790830.0,62613.0,675000.0,...,0,0,0.0,0.0,0.0,1.0,0.0,3.0,4,0
238236,375893,0.909689,0.642142,0.665985,0.696745,0,202500.0,283500.0,13765.5,283500.0,...,0,0,0.0,0.0,0.0,0.0,0.0,5.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138376,260459,0.909689,0.357858,0.665985,0.696745,0,153000.0,1288350.0,37800.0,1125000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,2,1
47567,155098,0.909689,0.357858,0.665985,0.303255,0,76500.0,521280.0,28408.5,450000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2,0
258982,399710,0.909689,0.357858,0.665985,0.696745,1,135000.0,104256.0,11074.5,90000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,4.0,4,0
147135,270595,0.909689,0.642142,0.665985,0.303255,0,31500.0,450000.0,30442.5,450000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2,0
188241,318231,0.909689,0.357858,0.665985,0.696745,1,112500.0,180000.0,14350.5,180000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,4.0,1,1

In [ ]:
data_freq_t.to_csv('data_freq_undersampling_test.csv', index=False)

In [ ]:
data_one_hot.to_csv('data_one_hot_undersampling.csv', index=False)

**Target Encoding**

In [ ]:
test_data = new_df['TARGET']
test_features = ['TARGET']
train_features = [item for item in new_df.columns if item not in test_features]
train_data = new_df[train_features]

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    train_data, test_data, random_state=29
)

In [ ]:
x_target_train = X_train
x_target_train['TARGET'] = y_train
x_target_train

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,EDUCATION_SCORE,TARGET
4184,104894,Revolving loans,M,Y,Y,1,315000.0,450000.0,22500.0,450000.0,...,0,0,0.0,0.0,0.0,0.0,1.0,0.0,4,0
217464,351971,Cash loans,F,N,Y,0,81000.0,99000.0,9774.0,99000.0,...,0,0,0.0,0.0,0.0,2.0,0.0,1.0,2,0
300345,447954,Cash loans,F,N,Y,0,157500.0,218016.0,17352.0,180000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,2,0
194386,325403,Cash loans,F,Y,N,2,225000.0,900000.0,26316.0,900000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,4,0
82729,195949,Cash loans,F,Y,N,3,81000.0,450000.0,30073.5,450000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286979,432393,Cash loans,F,N,Y,0,135000.0,536917.5,19413.0,463500.0,...,0,0,0.0,0.0,0.0,2.0,2.0,3.0,2,0
290193,436190,Cash loans,F,N,Y,1,135000.0,450000.0,35554.5,450000.0,...,0,0,0.0,0.0,1.0,0.0,0.0,0.0,4,0
99173,215144,Cash loans,M,Y,Y,0,270000.0,835380.0,40320.0,675000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,4,0
254183,394129,Cash loans,F,N,N,0,157500.0,171000.0,6574.5,171000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,2,0
120877,240153,Cash loans,M,Y,Y,1,337500.0,765000.0,22495.5,765000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,3.0,2,0

In [ ]:
def target_encoding(df, variable, target):
    target_mean = df[target].mean()  # среднее значение целевой переменной по всей выборке
    encoding = df.groupby(variable)[target].mean()  # среднее значение целевой переменной для каждой уникальной категории
    df[variable + "_encoding"] = df[variable].map(encoding)  # создание нового столбца с закодированными значениями
    df[variable + "_encoding"].fillna(target_mean, inplace=True)  # заполнение пропущенных значений средним значением целевой переменной
    return df

In [ ]:
for col in cat_features:
  variable = col
  target = 'TARGET'
  data_target_train = target_encoding(x_target_train, variable, target)
  #data_target = data_target.dropna(col)

In [ ]:
data_target_train = data_target_train.drop(columns = ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE',
                'NAME_INCOME_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
                'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE',
                'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'])

In [ ]:
data_target_train

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_TYPE_SUITE_encoding,NAME_INCOME_TYPE_encoding,NAME_FAMILY_STATUS_encoding,NAME_HOUSING_TYPE_encoding,OCCUPATION_TYPE_encoding,WEEKDAY_APPR_PROCESS_START_encoding,ORGANIZATION_TYPE_encoding,HOUSETYPE_MODE_encoding,WALLSMATERIAL_MODE_encoding,EMERGENCYSTATE_MODE_encoding
4184,104894,1,315000.0,450000.0,22500.0,450000.0,0.035792,-12884,-1141,-4463.0,...,0.231666,0.265657,0.216420,0.222295,0.186702,0.228380,0.218750,0.229357,0.235261,0.229365
217464,351971,0,81000.0,99000.0,9774.0,99000.0,0.022800,-23496,365243,-1398.0,...,0.231666,0.159111,0.170623,0.222295,0.226939,0.228850,0.159438,0.229357,0.235261,0.229365
300345,447954,0,157500.0,218016.0,17352.0,180000.0,0.006008,-10108,-2149,-10108.0,...,0.231666,0.214232,0.276077,0.222295,0.226939,0.219505,0.241379,0.229357,0.235261,0.229365
194386,325403,2,225000.0,900000.0,26316.0,900000.0,0.018029,-11303,-2503,-5405.0,...,0.231666,0.265657,0.216420,0.253074,0.186702,0.231619,0.221167,0.229357,0.235261,0.229365
82729,195949,3,81000.0,450000.0,30073.5,450000.0,0.009334,-12721,-1028,-4340.0,...,0.231666,0.265657,0.216420,0.222295,0.196249,0.237812,0.221167,0.229357,0.235261,0.229365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286979,432393,0,135000.0,536917.5,19413.0,463500.0,0.010032,-19827,-1018,-13793.0,...,0.231666,0.265657,0.216420,0.222295,0.196249,0.224693,0.195455,0.229357,0.235261,0.229365
290193,436190,1,135000.0,450000.0,35554.5,450000.0,0.035792,-13132,-3601,-2512.0,...,0.231666,0.265657,0.216420,0.222295,0.226939,0.228850,0.276125,0.229357,0.235261,0.229365
99173,215144,0,270000.0,835380.0,40320.0,675000.0,0.005002,-21459,-11806,-3267.0,...,0.231666,0.265657,0.216420,0.222295,0.226939,0.237812,0.219251,0.229357,0.211936,0.229365
254183,394129,0,157500.0,171000.0,6574.5,171000.0,0.019101,-13648,-2447,-984.0,...,0.231666,0.265657,0.276077,0.222295,0.226939,0.228380,0.258355,0.229357,0.211936,0.229365
120877,240153,1,337500.0,765000.0,22495.5,765000.0,0.022800,-16531,-4862,-1044.0,...,0.231666,0.265657,0.271477,0.222295,0.183179,0.237812,0.276125,0.229357,0.235261,0.229365

In [ ]:
x_target_test = X_test
x_target_test['TARGET'] = y_test
x_target_test

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,EDUCATION_SCORE,TARGET
130274,251103,Cash loans,M,Y,Y,0,180000.0,1066320.0,38430.0,900000.0,...,0,0,0.0,0.0,0.0,1.0,0.0,4.0,2,0
162906,288856,Cash loans,M,Y,Y,0,112500.0,113760.0,7533.0,90000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,4,0
233696,370690,Cash loans,M,Y,Y,2,157500.0,1035072.0,36801.0,864000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2,1
55554,164375,Cash loans,M,N,N,1,450000.0,790830.0,62613.0,675000.0,...,0,0,0.0,0.0,0.0,1.0,0.0,3.0,4,0
238236,375893,Cash loans,F,N,Y,0,202500.0,283500.0,13765.5,283500.0,...,0,0,0.0,0.0,0.0,0.0,0.0,5.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138376,260459,Cash loans,M,N,Y,0,153000.0,1288350.0,37800.0,1125000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,2,1
47567,155098,Cash loans,M,N,N,0,76500.0,521280.0,28408.5,450000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2,0
258982,399710,Cash loans,M,N,Y,1,135000.0,104256.0,11074.5,90000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,4.0,4,0
147135,270595,Cash loans,F,N,N,0,31500.0,450000.0,30442.5,450000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2,0
188241,318231,Cash loans,M,N,Y,1,112500.0,180000.0,14350.5,180000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,4.0,1,1

In [ ]:
for col in cat_features:
  variable = col
  target = 'TARGET'
  data_target_test = target_encoding(x_target_test, variable, target)

In [ ]:
data_target_test = data_target_test.drop(columns = ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE',
                'NAME_INCOME_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
                'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE',
                'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'])

In [ ]:
data_target_test

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_TYPE_SUITE_encoding,NAME_INCOME_TYPE_encoding,NAME_FAMILY_STATUS_encoding,NAME_HOUSING_TYPE_encoding,OCCUPATION_TYPE_encoding,WEEKDAY_APPR_PROCESS_START_encoding,ORGANIZATION_TYPE_encoding,HOUSETYPE_MODE_encoding,WALLSMATERIAL_MODE_encoding,EMERGENCYSTATE_MODE_encoding
130274,251103,0,180000.0,1066320.0,38430.0,900000.0,0.019101,-18354,-5091,-9344.0,...,0.23698,0.223823,0.224199,0.228697,0.184471,0.229812,0.279050,0.23421,0.240018,0.234102
162906,288856,0,112500.0,113760.0,7533.0,90000.0,0.018850,-14297,-1657,-562.0,...,0.23698,0.268131,0.259867,0.228697,0.315789,0.224898,0.213515,0.23421,0.240018,0.234102
233696,370690,2,157500.0,1035072.0,36801.0,864000.0,0.006852,-8164,-1223,-1814.0,...,0.23698,0.268131,0.224199,0.228697,0.235545,0.236466,0.265481,0.23421,0.240018,0.234102
55554,164375,1,450000.0,790830.0,62613.0,675000.0,0.024610,-13877,-304,-5846.0,...,0.23698,0.223823,0.224199,0.228697,0.184471,0.236466,0.265481,0.23421,0.220991,0.234102
238236,375893,0,202500.0,283500.0,13765.5,283500.0,0.028663,-21923,365243,-354.0,...,0.25504,0.171136,0.224199,0.228697,0.235545,0.230492,0.171678,0.23421,0.240018,0.234102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138376,260459,0,153000.0,1288350.0,37800.0,1125000.0,0.007020,-21772,-256,-5432.0,...,0.23698,0.268131,0.224199,0.228697,0.315789,0.224898,0.279050,0.23421,0.240018,0.234102
47567,155098,0,76500.0,521280.0,28408.5,450000.0,0.022625,-14853,-1573,-2650.0,...,0.23698,0.268131,0.249125,0.228697,0.315789,0.242069,0.245247,0.23421,0.240018,0.234102
258982,399710,1,135000.0,104256.0,11074.5,90000.0,0.008230,-15700,-1914,-7572.0,...,0.23698,0.268131,0.224199,0.228697,0.235545,0.230492,0.269531,0.23421,0.240018,0.234102
147135,270595,0,31500.0,450000.0,30442.5,450000.0,0.018029,-10317,-1112,-2683.0,...,0.23698,0.161327,0.224199,0.228697,0.235545,0.242069,0.169492,0.23421,0.240018,0.234102
188241,318231,1,112500.0,180000.0,14350.5,180000.0,0.003818,-10128,-1166,-3909.0,...,0.23698,0.268131,0.259867,0.228697,0.297125,0.230492,0.267425,0.23421,0.240018,0.234102

In [ ]:
data_target_train.to_csv('data_target_train_und.csv', index=False)

In [ ]:
data_target_test.to_csv('data_target_test_und.csv', index=False)